@charset "utf-8";
body,
button,
input,
select,
textarea {
  font-size: 16px;
  line-height: 1.125;
  font-family: 'Microsoft Yahei', '微软雅黑', 'Simsun';
}
sub,
sup {
  line-height: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
p,
blockquote,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
hr {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li {
  list-style: none;
}
fieldset,
img {
  border: 0;
}
input,
textarea {
  outline-style: none;
}
input[type="text"],
input[type="search"],
input[type="password"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
textarea {
  resize: none;
}
address,
caption,
cite,
code,
dfn,
em,
i,
th,
var {
  font-style: normal;
  font-weight: normal;
}
legend {
  color: #000;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
a {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearit {
  clear: both;
  height: 0;
  font-size: 0;
  overflow: hidden;
}
/* surface下viewport不生效的解决办法 */
@media screen and (min-width: 767px) and (device-aspect-ratio: 16/9) {
  @-ms-viewport {
    width: device-width;
    zoom: 1;
    max-zoom: 1;
    min-zoom: 1;
  }
}
/* surface下IE10 点击链接，背景变色 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  a {
    background-color: transparent;
  }
}
img {
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
}
@media not screen and (orientation: landscape), not screen and (orientation: portrait) {
  body,
  button,
  input,
  select,
  textarea {
    font-family: 'Microsoft Yahei', '微软雅黑', 'Simsun';
  }
}
header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  color: #fff;
}
header .head-left {
  background: url(../../images/left.png) no-repeat 0px 0px;
  padding-left: 0.16rem;
  font-size: .2rem;
  margin-left: 1em;
  position: absolute;
  top: 0;
}
header .head-top {
  text-align: center;
  position: relative;
  width: 100%;
  font-size: 0.18rem;
}
body {
  background: url(../../images/bg1.png) no-repeat 0px 0px;
  background-size: 100% 100%;
}
main {
  height: 90%;
  width: 100%;
}
main .main-box {
  height: 89%;
  overflow: auto;
  background-color: #fff;
}
main .bottom {
  height: 10%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 80;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #ddd;
}
main .bottom .bottom-a {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: flex;
  width: 0;
  text-align: center;
  font-size: .273333rem;
  color: #fff;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
main .bottom .bottom-right {
  border-left: 1px solid #ddd;
}
.showalert-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
.showalert {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 200px;
}
.showalert .showalert-content {
  width: 400px;
  min-height: 120px;
  background-color: #FF9500;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}
.showalert .showalert-content .showalert-text {
  border-radius: 6px;
  font-size: 16px;
  color: #666666;
  text-align: center;
  margin: 18px 18px 24px;
  line-height: 18px;
}
.showalert .showalert-content .showalert-button {
  width: 233px;
  height: 40px;
  background: #FF9500;
  border-radius: 6px;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.33px;
  text-align: center;
  line-height: 40px;
  margin: 0px auto 16px;
  cursor: pointer;
}
